<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="GalleryBg" id="tab-2">

         <div class="container-fluid">
            <div class="row mainGallery">
               <!-- thumbnail 1 -->
                {% for photo in users %}
               <div class="col-xs-12 col-sm-4" data-toggle="modal" data-target="#popup-image-gallery" tabindex="0">
                  <div class="card">
                     <a class="img-card" href="#">
                     <img src="{{ photo.0.design_images.url }}" alt="thumbs1" />
                     </a>
                     <a class="btnslideShow" href="#">
                     <img src="/static/img/clientProfileview/slideshow.png" alt="thumbs1" />
                     </a>
                     <div class="totalPhotos">
                        {{ photo|length }} photos
                     </div>
                     <div class="interiorLabels">
                        Contemporary Villa
                     </div>
                     <div class="card-content">
                        <h4 class="card-title">
                           <a href=""> Prestige Bougainvillea
                           </a>
                        </h4>
                     </div>
                  </div>
               </div>
                     <div class="maingallerypopup">
            <div class="modal popup-image-gallery" id="popup-image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-body">
                        <button type="button" class="btn close-btn" title="Close" data-dismiss="modal" aria-label="Close">&#10006;
                        </button>
                        <div class="popup-slider-for">
                            {% for i in photo %}
                           <div class="main-image">
                              <img src="{{i.design_images.url}}" alt="">
                           </div>
                            {% endfor %}
                        </div>
                        <!-- thumbs -->
                        <div class="popup-slider-nav hidden-xs">
                            {% for j in photo %}
                           <div class="thumbnail-image">
                              <img src="{{j.design_images.url}}" alt="">
                           </div>
                                {% endfor %}
                        </div>
                        <h5 class="pagingInfo"></h5>
                        <h2 class="gallery_Title">Contemporary Villa</h2>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                           ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                           laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
                {% endfor %}
               <!-- thumbnail -end -->
            </div>
         </div>
</div>

</body>
</html>